name = "LegendSpecFits"
uuid = "18221496-77af-46cf-bab8-820da09f7f97"
version = "0.2.1"

[deps]
ArgCheck = "dce04be8-c92d-5529-be00-80e4d2c0e197"
ArraysOfArrays = "65a8f2f4-9b39-5baf-92e2-a9cc46fdf018"
BAT = "c0cd4b16-88b7-57fa-983b-ab80aecada7e"
ChangesOfVariables = "9e997f8a-9a97-42d5-a9f1-ce6bfc15e2c0"
DensityInterface = "b429d917-457f-4dbc-8f4c-0cc954292b1d"
Distributions = "31c24e10-a181-5473-b8eb-7969acd0382f"
Documenter = "e30172f5-a6a5-5a46-863b-614d45cd2de4"
FillArrays = "1a297f60-69ca-5386-bcde-b61e274b549b"
Formatting = "59287772-0a20-5a39-b81b-1366585eb4c0"
ForwardDiff = "f6369f11-7733-5829-9624-2563aa707210"
IntervalSets = "8197267c-284f-5f27-9208-e0e47529a953"
InverseFunctions = "3587e190-3f89-42d0-90ee-14403ec27112"
IrrationalConstants = "92d709cd-6900-40b7-9082-c6be49f344b6"
LegendDataManagement = "9feedd95-f0e0-423f-a8dc-de0970eae6b3"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
LinearRegression = "92481ed7-9fb7-40fd-80f2-46fd0f076581"
LsqFit = "2fda8390-95c7-5789-9bda-21331edee243"
Optim = "429524aa-4258-5aef-a3af-852621145aeb"
PropDicts = "4dc08600-4268-439e-8673-d706fafbb426"
RadiationSpectra = "4f207c7e-01da-51d7-a1a0-c8c06dd1d883"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
RecipesBase = "3cdcf5f2-1ef4-517c-9805-6587b60abb01"
Roots = "f2b01f46-fcfa-551c-844a-d8ac1e96c665"
SnoopPrecompile = "66db9d55-30c0-4569-8b51-7e840670fc0c"
SpecialFunctions = "276daf66-3868-5448-9aa4-cd146d93841b"
Statistics = "10745b16-79ce-11e8-11f9-7d13ad32a3b2"
StatsBase = "2913bbd2-ae8a-5f71-8c99-4fb6c76f3a91"
StructArrays = "09ab397b-f2b6-538f-b94a-2f83cf4a842a"
Tables = "bd369af6-aec1-5ad0-b16a-f7cc5008161c"
TypedTables = "9d95f2ec-7b3d-5a63-8d20-e2491e220bb9"
Unitful = "1986cc42-f94f-5a68-af5c-568840ba703d"
ValueShapes = "136a8f8c-c49b-4edb-8b98-f3d64d48be8f"

[weakdeps]
RecipesBase = "3cdcf5f2-1ef4-517c-9805-6587b60abb01"

[extensions]
LegendSpecFitsRecipesBaseExt = "RecipesBase"

[compat]
ArgCheck = "1, 2"
ArraysOfArrays = "0.6"
BAT = "~3.0, ~3.1"
ChangesOfVariables = "0.1.1"
DensityInterface = "0.4"
Distributions = "0.24, 0.25"
FillArrays = "0.7,0.8, 0.9, 0.10, 0.11, 0.12, 0.13, 1"
Formatting = "0.4"
ForwardDiff = "0.10"
IntervalSets = "0.7"
InverseFunctions = "0.1"
IrrationalConstants = "0.1, 0.2"
LegendDataManagement = "0.2.7"
LinearAlgebra = "1"
LinearAlgebra = "1"
LinearRegression = "0.2"
LsqFit = "0.14, 0.15"
Optim = "1"
PropDicts = "0.2"
RadiationSpectra = "0.5"
Random = "1"
Random = "1"
RecipesBase = "1"
Roots = "2"
SnoopPrecompile = "1"
SpecialFunctions = "0.10, 1, 2"
Statistics = "1"
StatsBase = "0.32, 0.33, 0.34"
StructArrays = "0.4, 0.5, 0.6"
Tables = "0.2, 1.0"
TypedTables = "1"
Unitful = "1"
ValueShapes = "0.10.1, 0.11"
julia = "1.9"
